@use "../utils" as u;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: u.$fonts;
  background: var(--background-color);
  color: var(--text-color);
}
