.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 2.5em;
  width: min(100% - 2.5em, 1000px);
  margin-inline: auto;

  @media (min-width: 900px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: 2.5em;
  }
  &__main {
    background: #434384;
  }

  &__sidebar {
    background: #b86ca2;
  }
}
