@use "../util" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 2.5em;
  width: min(100% - 2.5em, 1000px);
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: 2.5em;
  }
  &__main {
    background: #0000ff;
  }

  &__sidebar {
    background: #ff00ff;

    @media (max-width: 56.25em) {
      text-align: center;
    }
  }
}
